<div class="flex">
  <mat-card class="card" cdkDrag>
    <button mat-fab color="primary" (click)="addRectangle()">
      <mat-icon>check_box_outline_blank</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="addCircle()">
      <mat-icon>panorama_fish_eye</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="addTriangle()">
      <mat-icon>change_history</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="clear()">
      <mat-icon>delete</mat-icon>
    </button>
    <mat-slide-toggle (change)="allColors()">Мигать</mat-slide-toggle>
  </mat-card>
  <div
    (click)="onDelete(i)"
    *ngFor="let portal of portals$ | async; let i = index">
    <div
      (attached)="recieveReference($event)"
      [cdkPortalOutlet]="portal"></div>
  </div>
</div>

